:root {
    --main-color: #BF99F9;
    --font-color: #9f9f9f;
    --green-color: #00FF80;
    --red-color: #FF0004;
    --white-color: #FFFFFF;
    --black-color: #000;
    --rounded-one: #FF70C1;
    --rounded-two: #00A6FF;
    --rounded-three: #FFA600;
    --logo: #6D2ECB;
}